.dashboard {
    display: flex;
    flex:1;
    flex-direction: row;
    border:1px solid #aaa;
    margin: 5px;
    padding:8px;

}

.left_panel {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    background: white;
    margin:5px;
}

.wrapper {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin:-75px auto;
    height: 80%;
}

.col {
    display: flex;
    flex:1;
    flex-direction: column;
}


@media (max-width: 480px) {
    body {
        font-size: 1.0em;
    }

    .left_panel {
        flex: 1;
    }

    .wrapper, .dashboard {
        flex-direction: column;

    }

}

@media (max-width: 768px) {
    .left_panel {
        flex: 0 0 30%;
    }

    .hide_ {
        display: none;
    }
}