.dashboard {
    display: flex;
    flex:1;
    flex-flow: row wrap;
}

.left_panel {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    background: white;
    margin:5px;
}

.wrapper {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin:-75px auto;
    height: 80%;
}

@media (max-width: 768px) {
    body {
        font-size: 1.0em;
    }

    .left_panel {
        flex: 1;
    }
}